.idea/git.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_07_06_2021__17_51__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_07_06_2021,_17_51_[Default_Changelist]/shelved.patch
temp.js
temp.css
temp.html
/node_modules/
/dist/images/288411.jpeg
/dist/images/352029.jpeg
/dist/images/355758.jpeg
/dist/images/442246.jpeg
/dist/images/584637.jpeg
/dist/images/706973.jpeg
/dist/images/jacket.jpg
/dist/images/shirt.jpg
/dist/images/shoes.jpg
/dist/images/socks.jpg
/dist/images/watches.jpg
/temp/
